@import "../../.cache/wal/colors-waybar.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "FiraCode Nerd Font Propo";
  font-size: 12px;
  font-weight: 500;
  background-color: transparent;
  color: @foreground;
  transition: all 1s ease-in-out;
}

#workspaces button.active {
  background-color: @color2;
}

#clock,
#custom-syncthing,
#workspaces button,
#window,
#battery,
#clock,
#battery,
#network {
  padding: 0 15px;
  margin: 0 2px;
  background-color: @background;
  border-radius: 5px;
  border: 1px solid @foreground;
}

#custom-syncthing.syncing {
  background-color: @color2;
}

window#waybar.empty #window {
  border: none;
  background-color: transparent;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
